.contenedor-social-media {
    display: flex;
    flex-direction: column;
    align-items: end;
}
#socia-media-padre {
    position: relative;
}
.social-media {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem 0 0;
    position: fixed;
}
.media {
    img {
        width: 4.5rem;
        transform: translate(0, 0);
        transition: transform linear 0.25s;
    }
}
.media:hover {
    img {
        transform: translate(-1rem, 0);
    }
}