.informacion {
    display: flex;
    flex-direction: column;
}
.imagen {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 5rem;
        font-weight: $bold;
    }
    .blanco {
        color: $white;
        margin-right: 50%;
    }
}
.img-inovation {
    background-image: url("../img/Inovation.jpg");
}
.img-gdt {
    background-image: url("../img/gd&t.jpg");
}
.img-prototype {
    background-image: url('../img/Prototype.jpg');
}
.contenedor-info {
    display: flex;
    flex-direction: column;
}
@media (min-width:$desktop) {
    .cuadro1 {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .cuadro2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}
.contenedor-i {
    margin: 1.5rem;
    padding: 1rem 1rem;
}
.texto-info {
    text-align: center;
    font-size: 2.2rem;
    font-weight: $regular;
    padding: 1rem 3rem;
}
@media (min-width: $tablet) {
    .texto-info {
        text-align: start;
        padding-left: 5rem;
    }
}
.imagen-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    img {
        width: 100%;
        max-width: 45rem;
    }
}
.flex {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.imagen-ino {
    width: 100%;

    img {
        width: 100%;
    }
}
.tarjetas {
    display: flex;
    flex-direction: column;
    
    p {
        background-color: $grisOscuro;
        border: 2px solid transparent;
        margin: 1.2rem 1.5rem;
        border-radius: 0.8rem;
        color: $white;

        transition: all linear 0.2s;
    }
    p:hover {
        background-color: transparent;
        color: $grisOscuro;
        border: 2px solid $grisOscuro;
    }

    text-align: center;
}
@media (min-width: $tablet) {
    .tarjetas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
.contenedor2grid {
    display: flex;
    flex-direction: column;
}
.contenido2-grid {
    margin: 0 1rem;
    h3 {
        font-size: 2.2rem;
        font-weight: $bold;
    }
    p {
        font-size: 1.8rem;
    }
}
@media (min-width: $tablet) {
    .contenedor2grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}
.borde-top {
    border-top: 3px solid black;
    padding-top: 2rem;
}